.pointerCursor{
    cursor: pointer;
}
#jobDetails{
    min-width: 40%;
    max-width: 70%;
    max-height: 90%;
    margin: auto;
    background: rgba(0,0,0,0) !important;
}
#graph{
    border: 1px solid lightgray;
     height: 400px;
}
.repoName{
    width: 400px;
}
.tagNames p{
    float: left !important;
    margin: 2px !important;
    font-size: 12px;
    cursor: pointer;
}
.pad5{
    padding: 5px;
}
.floatRight{
  float: right;
}
.floatLeft{
  float: left;
}
.margin10{
  margin: 10px;
}
i{
    padding: 1px;
}


